.cakes-page {
	&-banner {
		.container {
			position: relative;
			overflow: hidden;
			min-height: 400px;
			padding: 80px 100px;

			@include tablet_small {
				min-height: 212px;
				padding: 55px 20px;
			}			
		}

		&__images {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			width: 100%;
			height: 100%;
			z-index: -1;			

			&_desktop {
				@include min_tablet_small {
					display: block;
				}
	
				@include tablet_small {
					display: none;
				}
			}
	
			&_mobile {
				@include min_tablet_small {
					display: none;
				}
	
				@include tablet_small {
					display: block;
				}
			}
			
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;

				
			}
		}

		&__description {
			max-width: 1040px;

			h1 {
				@include FontFamilyZurichBold;
				@include bold-70;

				@include tablet_small {
					@include bold-30;
				}
			}
		}
	}

	&-cakes {
		.container {
			display: grid;
			grid-template-areas: 
			'title .'
			'cake_cards cake_cards'
			'pagination more';
			gap: 0px;

			@include tablet_small {
				grid-template-areas:
				'title'
				'cake_cards'
				'more';
			}
			
			h2 {
				margin-bottom: 30px;				
			}

			.pagination {
				margin-top: 40px;
			}

			.load-more {
				grid-area: more;
				justify-self: end;
				margin-top: 40px;
	
				@include tablet_small {
					justify-self: center;
				}
			}
		}

		&__list {
			grid-area: cake_cards;
			display: grid;
			grid-template-columns: repeat(2, minmax(340px, 810px));
			gap: 20px;
			justify-content: space-between;

			@include desktop_base {
				grid-template-columns: auto;
			}
		}
	}
}