.cake-detail {
	.popup__content {
		max-width: 1364px;

		@include tablet_small {
			padding: 0;
		}
	}
	
	.popup__close {
		@include tablet_small {
			border-radius: 50%;
			background-color: $white;
			padding: 25px;
		}
	}
	
	&__wprapper {
		display: grid;
		// grid-template-columns: minmax(210px, 420px) 58%;
		grid-template-columns: 30% 60%;
		gap: 50px 30px;
		grid-template-areas:
			'cake_image cake_preview'
			'cake_image cake_management'
			'cake_info cake_info';

		@include tablet {
			// grid-template-columns: auto 60%;
			grid-template-columns: 30% 55%;
			grid-template-areas:
				'cake_image cake_preview'
				'cake_management cake_management'
				'cake_info cake_info';
		}

		@include tablet_small {
			grid-template-columns: 100%;
			grid-template-areas:
				'cake_image'
				'cake_preview'
				'cake_info'
				'cake_management';
			gap: 20px;
		}
	}

	&__image {
		grid-area: cake_image;

		img {
			width: 100%;
			object-fit: cover;
		}
	}

	&__preview {
		grid-area: cake_preview;

		@include tablet_small {
			margin: 0 20px;
		}

		h2 {
			margin-bottom: 20px;

			@include tablet_small {
				margin-bottom: 10px;
			}
		}
	}

	&__article {
		display: inline-block;
		@include regular-18;
		margin-bottom: 30px;

		@include tablet_small {
			@include regular-14;
			margin-bottom: 20px;
		}
	}

	&__management {
		grid-area: cake_management;
		margin-top: 20px;
		display: flex;
		align-items: center;
		gap: 60px;

		@include tablet_small {
			margin: 10px 20px 20px;
			display: block;
		}

		input[type=number] {
			@include regular-26;

			@include tablet_small {
				@include regular-16;
			}
		}
	}

	&__price {
		display: flex;
		align-items: baseline;
		gap: 60px;

		@include tablet_small {
			margin-bottom: 20px;
		}

		span {
			@include bold-26;

			@include tablet_small {
				@include bold-20;
			}
		}		
	}

	&__btns {
		display: flex;
		align-items: center;
		gap: 25px;

		@include tablet_small {
			gap: 15px;
			justify-content: space-between;
		}

		.btn {
			@include tablet_small {
				width: 80%;
			}
		}
	}

	&__info {
		grid-area: cake_info;

		@include tablet_small {
			margin: 0 20px;
		}
	}

	&__tabs {
		display: flex;
		align-items: baseline;
		gap: 20px;
		margin-bottom: 30px;

		@include tablet_small {
			display: none;
		}
	}

	&__tab {
		white-space: nowrap;
		width: fit-content !important;
		transition: color $transitionDuration ease-in-out;		

		&:hover {
			cursor: pointer;
			color: $green22;
		}

		h3 {
			@include FontFamilyZurichRegular;
			@include regular-24;
			opacity: 0.7;

			@include tablet_small {
				@include regular-18;
			}
		}		

		&._active,
		&._active:hover {
			color: $black25;

			&::after {
				content: '';
				display: block;
				height: 3px;
				background-color: $black25;
			}

			h3 {
				opacity: 1;
			}
		}
	}

	&__content {
		@include min_tablet_small {
			display: none;
		}		

		&._active {
			display: block;
		}

		b {
			font-weight: 700;
		}

		& > *:not(:last-child) {
			margin-bottom: 20px;
		}

		&:not(:first-child) {
			@include tablet_small {
				margin-top: 20px;
			}
		}
	}

	&__ingredients-content {
		height: 0;
		overflow: hidden;
		margin-top: 15px;
		flex-direction: column;
		gap: 30px;
		display: none;
	}

	&__ingredients {
		margin-top: 30px;

		@include tablet_small {
			margin-right: 80px;
		}

		@include mobile {
			margin-right: 50px;
		}

		.dropdown__button {
			span {
				@include bold-20;
				color: $black25;
				margin-right: 10px;

				@include tablet_small {
					@include bold-16;
				}
			}
		}

		.swiper-slide {
			max-width: 187px;
			background-color: $grayFA;

			@include tablet_small {
				max-width: 135px;
			}
			
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				max-width: 187px;
				max-height: 95px;

				@include tablet_small {
					max-width: 135px;
					max-height: 65px;
				}
			}
			
		}

		.swiper-navigation {
			position: absolute;
			z-index: 30000000000;
			background-color: white;
			flex-direction: column;
			justify-content: center;
			padding-left: 20px;
			top: 130px;
			right: -72px;

			@include mobile {
				right: -50px;
			}

			@include tablet_small {
				.swiper-navigation-prev, .swiper-navigation-next {
					width: 24px;
					height: 24px;
				}
			}
		}

		&.active {
			.cake-detail__ingredients-content {
				height: auto;
				display: flex;
			}
		}
	}

	&__ingredients-row-title {
		@include regular-18;
		color: $black25;

		@include tablet_small {
			@include regular-14;
		}
	}

	&__ingredients-swiper {
		margin-top: 15px;
		display: flex;
	}

	&__ingredients-card {
		display: flex;
		flex-direction: column;
		gap: 20px;
		position: relative;

		.form-group {
			position: absolute;
			right: 20px;
			bottom: 20px;

			@include tablet_small {
				right: 10px;
				bottom: 10px;
			}
		}
	}

	&__ingredients-card-text {
		margin: 0 20px 20px 20px;
		display: flex;
		flex-direction: column;
		gap: 15px;

		@include tablet_small {
			margin: 0 10px 10px 10px;
		}

		span:first-of-type {
			@include regular-18;

			@include tablet_small {
				@include regular-14;
			}
		}
	}

	&__options {
		display: grid;
		grid-template-columns: repeat(2, max-content);
		row-gap: 14px;
		column-gap: 40px;
		margin-top: 14px;

		@include tablet_small {
			grid-template-columns: 1fr;
		}

		.label {
			color: $black25;
		}
	}
}