.cakes {
	.container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas:
		'title button'
		'cards cards';
		gap: 30px;
	}

	h2 {
		grid-area: title;
	}

	.btn {
		grid-area: button;
		max-width: fit-content;
		justify-self: flex-end;
	}

	&__list {
		grid-area: cards;
		display: grid;
		grid-template-columns: repeat(2, minmax(340px, 810px));
		gap: 20px;
		justify-content: space-between;

		@include desktop_base {
			grid-template-columns: auto;
		}
	}

	&__item {
		display: grid;
		grid-template-columns: minmax(200px,415px) auto;
		border-radius: 50px;
		overflow: hidden;

		@include mobile {
			grid-template-columns: auto;
			gap: 20px;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__description {
		padding: 30px;
		
		h3 {
			margin-bottom: 15px;
		}

		p {
			margin-bottom: 30px;
		}
	}

	&__tech {
		display: flex;
		justify-content: space-between;
		margin-bottom: 5px;

		span {
			@include regular-18;
			color: $grayB9;
			
			&:last-child {
				@include bold-26;
				color: $gray25;
			}
		}
	}

	&__buttons {
		display: flex;
		gap: 20px;
		margin-top: 30px;
	}
}