.cart {
	display: flex;
	gap: 20px;

	@include tablet {
		flex-direction: column;
	}

	&__list {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 60px;

		@include tablet {
			gap: 20px;
		}
	}

	&__item {
		min-height: 257px;
		max-width: 1205px;
		display: grid;
		grid-template-columns: minmax(170px, 257px) auto;
		background-color: $grayFA;
		padding: 20px;

		@include tablet_small {
			padding: 10px;
			grid-template-columns: minmax(90px, 250px) auto;
			min-height: unset;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			min-width: 90px;
		}
	}

	&__item-body {
		display: grid;
		grid-template-columns: minmax(auto, 246px) 80px auto minmax(auto, 150px);
		gap: 20px;
		align-items: center;
		padding-left: 20px;

		@include tablet_small {
			grid-template-areas:
				'title button'
				'quantity total';
			grid-template-columns: auto 20%;
			
			.input-wrapper {
				max-width: 50px;
				grid-area: quantity;
			}
		}

		.input-wrapper input[type="number"] {
			@include regular-26;
		}

		h5 {
			@include bold-26;
			margin: 0;
			justify-self: center;

			@include tablet_small {
				grid-area: total;
			}			

			@include mobile {
				@include bold-20;
			}
		}
	}

	&__item-text {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;

		@include tablet_small {
			grid-area: title;
		}

		h3 {
			margin: 0;
		}

		h4 {
			@include regular-24;
			margin-bottom: 30px;

			@include mobile {
				@include regular-18;
			}
		}

		span {
			@include regular-18;
			margin-bottom: 30px;

			@include tablet_small {
				display: none;
			}
		}

		h5 {
			@include bold-26;
			margin: 0;

			@include tablet_small {
				display: none;
			}
		}
	}

	&__item-buttons {
		height: 100%;
		display: flex;
		gap: 15px;
		padding-left: 10px;
		align-items: center;
		border-left: solid 2px $grayEF;
		justify-content: flex-end;

		@include tablet_small {
			grid-area: button;
			flex-direction: column-reverse;
			justify-content: flex-end;
			align-items: flex-end;
			border: none;

			.favorite_border {
				border: none;
				width: 20px;
				height: 20px;
			}

			a:first-of-type {
				display: none;
			}
		}
	}
}