.catalog {
	&__menu {
		.container {
			display: grid;
			grid-template-areas: 
			'title .'
			'tabs tabs'
			'cards cards'
			'pagination more';
			gap: 0px;

			@include tablet_small {
				grid-template-areas:
				'title'
				'tabs'
				'cards'
				'more';
			}

			.catalog__tabs {
				grid-area: tabs;
				margin-top: 30px;
				width: 100%;

				.swiper-slide {
					width: fit-content;
				}
			}

			.catalog__list {
				margin-top: 80px;
				grid-area: cards;
				display: grid;
				grid-template-columns: repeat(auto-fit,minmax(520px,1fr));
				gap: 40px;

				.food__image {
					max-height: 286px;
				}

				@include mobile {
					margin-top: 30px;
					grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
				}
			}

			.pagination {
				margin-top: 40px;
			}

			.load-more {
				grid-area: more;
				justify-self: end;
				margin-top: 40px;
	
				@include tablet_small {
					justify-self: center;
				}
			}
		}
	}
}