.coffee {
	.container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas:
		'title button'
		'cards cards';

		@include tablet_small {
			grid-template-columns: auto;
			grid-template-areas:
			'title'
			'cards'
			'button';
		}
	}

	h2 {
		grid-area: title;
	}

	.btn {
		grid-area: button;
		max-width: fit-content;
		justify-self: flex-end;
	}

	&__list {
		grid-area: cards;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(533px, auto));
		gap: 20px;

		@include tablet_small {
			gap: 30px;
		}
	}

	&__item {
		display: grid;
		grid-template-columns: 230px auto;
		grid-template-areas:
			'img specs'
			'body body';
		column-gap: 20px;

		@include tablet_small {
			background-color: $grayFA;
			grid-template-columns: 1fr 2fr;
		}

		picture {
			grid-area: img;
			position: relative;
			left: 10%;
			top: 25%;
			z-index: 1;
			user-select: none;
			pointer-events: none;
			
			@include tablet_small {
				left: 0;
				top: 0;
				padding-left: 40px;
				padding-top: 30px;
			}
			
			img {
				width: 100%;
				user-select: none;
			}
			
		}

		h3 {
			grid-area: title;
			margin-top: 30px;
			margin-bottom: 15px;
		}
	}

	&__specs {
		grid-area: specs;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
   		margin-bottom: 40px;
		padding: 0 50px 0 30px;

		span {
			@include regular-16;
			color: $gray25;
			margin-bottom: 8px;
		}

		// img {
		// 	max-width: 170px;
		// 	margin-bottom: 20px;
		// }

		&_raiting {
			display: flex;
			gap: 2px;

			@include tablet_small {
				gap: 1px;
			}

			&:not(:last-child) {
				margin-bottom: 20px;
			}

			&__item {
				background-color: $grayEF;
				width: 100%;
				height: 5px;

				@include tablet_small {
					height: 8px;
				}
				
				&:first-child {
					border-radius: 50px 0 0 50px;
				}
				&:last-child {
					border-radius: 0 50px 50px 0;
				}
			}

			&_1 &__item:first-child {
				background-color: $black25;
			}

			&_2 &__item:first-child,
			&_2 &__item:nth-child(2) {
				background-color: $black25;
			}

			&_3 &__item:first-child,
			&_3 &__item:nth-child(2),
			&_3 &__item:nth-child(3) {
				background-color: $black25;
			}

			&_4 &__item:first-child,
			&_4 &__item:nth-child(2),
			&_4 &__item:nth-child(3),
			&_4 &__item:nth-child(4) {
				background-color: $black25;
			}

			&_5 &__item:first-child,
			&_5 &__item:nth-child(2),
			&_5 &__item:nth-child(3),
			&_5 &__item:nth-child(4),
			&_5 &__item:last-child {
				background-color: $black25;
			}
		}
	}

	&__body {
		grid-area: body;
		background-color: $grayFA;
		display: grid;
		grid-template-columns: 210px auto;
		grid-template-areas: 
			'. quantity'
			'. price'
			'title title'
			'description description'
			'buttons buttons';
		column-gap: 20px;
		padding: 30px 50px 50px;

		@include tablet_small {
			grid-template-columns: auto;
			grid-template-areas:
			'title'
			'description'
			'quantity'
			'price'
			'buttons';
			padding: 20px 15px 30px;
		}
	}

	&__quantity {
		grid-area: quantity;
		display: flex;
		margin-bottom: 20px;

		@include tablet_small {
			width: 70%;
		}
	}

	&__price {
		grid-area: price;
		@include regular-16;
		color: $gray25;
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include tablet_small {
			width: 70%;
		}

		span {
			margin-left: 22px;
			@include bold-26;

			@include tablet_small {
				@include bold-20;
			}
		}
	}

	&__description {
		grid-area: description;

		@include tablet_small {
			margin-bottom: 20px;
		}

		p {
			@include regular-16;

			@include tablet_small {
				@include regular-14;
			}
		}
	}

	&__buttons {
		grid-area: buttons;
		margin-top: 30px;
		display: flex;
		align-items: center;

		a:last-of-type {
			margin: 0 0 0 auto;
		}

		&__list {
			display: flex;
			gap: 20px;
		}
	}
}