.coffee-review {
	display: flex;
	flex-direction: column;
	gap: 30px;

	& > * {
		width: 100%;
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	&__item {
		background-color: $grayFA;
		padding: 40px;
		// display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas: 
		'name rating'
		'date rating'
		'text text'
		'answer .';
		display: none;

		&._active {
			display: grid;
		}

		@include tablet_small {
			padding: 20px;
		}

		@include mobile {
			grid-template-areas:
			'name date'
			'rating .'
			'text text'
			'answer .';
		}
	}

	&__name {
		grid-area: name;
		@include FontFamilyZurichRegular;
		@include regular-24;

		@include tablet_small {
			@include regular-18;
		}
	}

	&__date {
		@include FontFamilyZurichRegular;
		grid-area: date;
		margin-top: 5px;

		@include tablet_small {
			@include regular-14;
		}

		@include mobile {
			justify-self: end;
		}
	}

	.rating {
		grid-area: rating;
		justify-self: end;

		@include mobile {
			justify-self: start;
		}
	}

	&__text {
		grid-area: text;
		margin-top: 30px;
	}

	.btn_answer {
		grid-area: answer;
		margin-top: 30px;
	}

	.btn_delete {
		margin-top: 30px;
	}

	&__comment {
		grid-area: comment;

		.coffee-review__item {
			display: block;
			padding: 40px 40px 40px 70px;

			@include tablet_small {
				padding: 20px 20px 20px 35px;
			}

			.btn {
				display: inline-block;

				&:not(:last-child) {
					margin-right: 30px;
				}
			}
		}

		.textarea__label {
			color: $black25;
		}

		textarea {
			color: $black25;
		}

		&_answer {
			display: none;

			&._active {
				display: block;
				margin-top: 30px;

				@include tablet_small {
					margin-top: 15px;
				}
			}
		}
	}
}