.coffee-review {
	display: flex;
	flex-direction: column;
	gap: 30px;

	& > * {
		width: 100%;
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	&__item {
		background-color: $grayFA;
		padding: 40px;
		// display: grid;
		grid-template-columns: repeat(2, auto);
		grid-template-areas: 
		'name rating'
		'date rating'
		'text text'
		'answer .';
		display: none;

		&._active {
			display: grid;
		}

		@include tablet_small {
			padding: 20px;
		}
	}

	&__name {
		grid-area: name;
		@include FontFamilyZurichRegular;
		@include regular-24;
	}

	&__date {
		grid-area: date;
		margin-top: 5px;
	}

	.rating {
		grid-area: rating;
		justify-self: end;
	}

	&__text {
		grid-area: text;
		margin-top: 30px;
	}

	.btn {
		grid-area: answer;
		margin-top: 30px;
	}
}