.coffee-beans {
	&-banner {
		.container {
			position: relative;
			overflow: hidden;
			min-height: 400px;
			padding: 80px 100px;

			@include tablet_small {
				min-height: 212px;
				padding: 40px 70px 40px 30px;
			}			
		}

		&__images {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			width: 100%;
			height: 100%;
			z-index: -1;			

			&_desktop {
				@include min_tablet_small {
					display: block;
				}
	
				@include tablet_small {
					display: none;
				}
			}
	
			&_mobile {
				@include min_tablet_small {
					display: none;
				}
	
				@include tablet_small {
					display: block;
				}
			}
			
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;

				
			}
		}

		&__description {
			max-width: 610px;

			h1 {
				@include FontFamilyZurichBold;
				@include bold-70;
				color: $white;

				@include tablet_small {
					@include bold-30;
				}
			}

			.btn {
				margin-top: 40px;

				@include tablet_small {
					margin-top: 30px;
				}

				.children {
					@include bold-18;

					@include tablet_small {
						@include bold-14;
					}
				}
			}

			&_black {
				h1 {
					color: $black;
				}
			}
		}
	}

	&-coffee {
		.container {
			display: grid;
			grid-template-areas: 
			'title .'
			'cards cards'
			'pagination more';
			gap: 0px;

			@include tablet_small {
				grid-template-areas:
				'title'
				'cards'
				'more';
			}			

			.pagination {
				margin-top: 40px;
			}

			.load-more {
				grid-area: more;
				justify-self: end;
				margin-top: 40px;
	
				@include tablet_small {
					justify-self: center;
				}
			}
		}
	}

	&-wholesale {
		min-height: 502px;
			height: auto;
			position: relative;
			padding: 130px 0 130px 130px;

			@include desktop {
				padding: 130px 50px 130px 50px;
			}			

			@include tablet_small {
				min-height: 816px;
				padding: 0;
				display: flex;
				flex-direction: column;
				align-items: flex-end;
			}

			@include mobile {
				min-height: 616px;
			}

		&__image {
			position: absolute;
			top: 0;
			right: 0;
			width: 100%;
			height: 100%;
			z-index: -1;

			&_desktop {
				@include min_tablet {
					background-repeat: no-repeat;
					background-position: left;
					background-size: cover;
				}
	
				@include tablet_small {
					display: none;
				}
			}
	
			&_mobile {				
				@include min_tablet_small {
					display: none;
				}
	
				@include tablet {
					background-repeat: no-repeat;
					background-size: cover;
					background-position: top;
				}
			}
		}

		&__text {
			color: $white;

			@include tablet_small {
				margin: 600px 20px 40px;
			}

			@include mobile {
				margin: 440px 20px 40px;
			}
			

			& > * {
				margin-bottom: 10px;
				max-width: 640px;

				@include tablet {
					max-width: 100%;
				}

				&:last-child {
					margin-bottom: 0;
				}
			}

			h2 {
				max-width: 712px;
				margin-bottom: 30px;

				@include tablet {
					max-width: 100%;
				}
			}
		}
	}

	&-advantages {
		h2 {
			margin-bottom: 30px;
		}

		&__list {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(533px, auto));
			gap: 20px;

			@include tablet_small {
				grid-template-columns: repeat(auto-fit, minmax(320px, auto));
				gap: 30px;
			}
		}

		&__item {
			background-color: $grayFA;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding: 30px;

			@include tablet_small {
				padding: 20px;
			}

			h3 {
				@include bold-20;
				margin-bottom: 20px;				

				@include tablet_small {
					@include bold-18;
				}
			}

			p {
				&:not(:last-child) {
					margin-bottom: 10px;
				}
			}
		}
	}
}