.coffee-cooking {
	display: flex;
	align-items: center;
	gap: 20px;
	flex-wrap: wrap;

	@include tablet {
		display: block;
	}

	&__item {
		background-color: $grayFA;
		display: flex;
		align-items: center;
		gap: 15px;
		flex-wrap: nowrap;
		padding: 30px;
		min-width: 257px;

		@include tablet {
			min-width: auto;
			padding: 20px;
		}

		&:not(:last-child) {
			margin-bottom: 20px;
		}
		
		h4 {
			@include tablet_small {
				@include bold-18;
			}
		}
	}
}