.first-screen {
	overflow: hidden;
	.swiper-wrapper {
		@include tablet_small {
			height: 100% !important;
		}
	}

	&__slide {
		position: relative;
		color: $black25;
		padding: 143px 80px;
		height: 100%;

		@include desktop_extra_small {
			padding: 60px 20px;
		}

		@include tablet_small {
			min-height: 550px;
			height: 100%;
		}

		img {
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			margin: auto;
			width: 100vw;
			height: 100%;
			object-fit: cover;
		}

		video {
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			margin: auto;
			width: 100vw;
			height: 100%;
			object-fit: cover;
		}

		&_desktop {
			@include min_tablet_small {
				display: block;
			}

			@include tablet_small {
				display: none;
			}
		}

		&_mobile {
			@include min_tablet_small {
				display: none;
			}

			@include tablet_small {
				display: block;
			}
		}

		h1,
		h2 {
			margin-bottom: 30px;
			@include bold-70;

			@include desktop_extra_small {
				max-width: 80%;
			}

			@include tablet_small {
				@include bold-30;
				margin-bottom: 20px;
				max-width: 100%;
			}
		}

		h4 {
			@include FontFamilyZurichRegular;
			@include regular-24;
			margin-bottom: 50px;

			@include desktop_extra_small {
				max-width: 80%;
			}

			@include tablet_small {
				@include regular-18;
				margin-bottom: 30px;
			}
		}

		&_inverse {
			color: $white;
		}
	}

	&__btns {
		display: flex;
		gap: 20px;

		@include tablet_small {
			flex-direction: column;
			gap: 15px;
		}
	}
}
