.food {
	.container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas:
		'title button'
		'cards cards';
		gap: 30px;

		@include tablet_small {
			grid-template-columns: auto;
			grid-template-areas:
			'title'
			'cards'
			'button';
			gap: 0;
		}

		.btn_more {
			@include tablet_small {
				margin-top: 30px;
			}
		}
	}

	h2 {
		grid-area: title;
	}

	.btn {
		grid-area: button;
		max-width: fit-content;
		justify-self: flex-end;
	}

	&__list {
		grid-area: cards;
		// display: flex;
		// gap: 55px;
		// flex-wrap: wrap;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(320px, auto));
		gap: 60px;

		@include tablet_small {
			gap: 30px;
		}
	}

	&__item {
		position: relative;
		overflow: hidden;
		display: grid;
		grid-template: max-content 0.5fr 1fr auto / auto;

		h3 {
			margin-bottom: 10px;
		}

		p {
			margin-bottom: 20px;
		}
	}

	&__image {
		width: 100%;
		margin-bottom: 30px;
		object-fit: cover;

		@include tablet_small {
			margin-bottom: 15px;
		}
	}

	&__tech {
		align-self: end;
		display: flex;
		align-items: center;
		gap: 20px;

		.btn {
			margin: 0 0 0 auto;
		}
	}

	
	&__price {
		@include FontFamilyZurichRegular;
		@include bold-26;
		color: $black25;
	}

	&__weight {
		@include FontFamilyZurichRegular;
		@include regular-20;
		color: $grayB9;
	}

	&__favorite {
		position: absolute;
		top: 30px;
		right: 30px;
		background-color: $white;

		@include tablet_small {
			top: 20px;
			right: 20px;
		}
	}
}

