.footer {
	flex: 0 0 auto;
	background-color: $grayEF;
	color: $black25;
	padding: 120px 130px 50px 130px;

	@include desktop {
		padding: 50px 70px 50px 50px;
	}

	@include mobile {
		padding-left: 20px;
		padding-right: 20px;
	}

	&__top {
		padding-bottom: 120px;
		display: flex;
		gap: 100px;
		flex-wrap: wrap;

		@include desktop {
			gap: 50px;
			padding-bottom: 50px;
		}

		@include tablet {
			flex-direction: column;
		}

		@include tablet_small {
			gap: 30px;
			padding-bottom: 40px;
		}
	}

	&__column {
		display: flex;
		flex-direction: column;
		gap: 50px;
		flex: 0 0 auto;

		&:first-child {
			flex: 1 0 auto;
		}

		&:nth-child(2) {
			@include desktop_extra_small {
				flex-direction: row;
				flex: 1 0 auto;
			}
		}

		@include mobile {
			gap: 30px;
		}
	}

	&__links {
		display: flex;
		flex-direction: column;
		gap: 10px;

		h3 {
			@include FontFamilyZurichBold;
			margin-bottom: 10px;
		}

		span {
			@include FontFamilyZurichBold;
			@include bold-24;

			@include tablet_small {
				@include bold-18;
			}
		}

		.link {
			@include FontFamilyZurichRegular;
			@include tablet_small {
				@include regular-14;


			}
		}
	}

	&__social {
		display: flex;
		align-items: center;
		gap: 10px;

		svg {
			width: 30px;
			height: 30px;


			@include tablet_small {
				width: 40px;
				height: 40px;
			}

			circle {
				fill: $black25;
				transition: fill $transitionDuration ease-in-out;
			}

			&:hover {
				circle {
					fill: $green22;
				}
			}
		}
	}

	&__apps {
		display: flex;
		flex-direction: column;
		gap: 10px;

		@include tablet {
			flex-direction: row;
		}

		@include tablet_small {
			a {
				width: 154px;

				img {
					 width: 100%;
				}
			}
		}
	}

	&__bottom {
		border-top: solid 1px rgba(37, 37, 37, 0.30);;
		padding-top: 30px;
		display: flex;
		column-gap: 100px;
		row-gap: 20px;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;

		@include tablet_small {
			flex-direction: column;
			gap: 20px;
			align-items: flex-start;
		}

		&__item {
			&_first {
				display: flex;
				align-items: baseline;
				gap: 50px;

				@include tablet_small {
					flex-direction: column;
					gap: 20px;
				}
			}

			&_payment {
				display: flex;
				align-items: center;
				gap: 15px;
				margin-right: 70px;

				@include tablet_small {
					flex-direction: column;
					align-items: flex-start;
					gap: 10px;
				}

				&__item {
					display: flex;
					align-items: center;
					gap: 15px;
				}
			}

			&_card {
				display: flex;
				align-items: center;
				gap: 5px;
				max-width: 115px;
				@include regular-12;
			}

			// &:last-child {
			// 	margin: 0 0 0 auto;
			// }
		}

		span,
		.link {
			@include regular-18;
			opacity: 0.7;

			@include tablet_small {
				@include regular-14;
			}
		}

		span {
			@include FontFamilyZurichRegular;
		}
	}

	&__logo {
		img {
			@include tablet_small {
				max-width: 180px;
				max-height: 50px;
			}
		}
		
	}
}