.header {
	flex: 0 0 auto;
	position: relative;

	&__row {
		padding: 14px 130px;
		display: grid;
		grid-template-columns: 0.3fr 1.3fr 0.4fr;
		gap: 100px;
		align-items: center;
		justify-content: space-between;

		@include desktop_huge {
			grid-template-columns: 0.5fr 1.5fr 0.4fr;
			gap: 20px;
		}

		@include desktop {
			padding-left: 50px;
			padding-right: 50px;
		}

		@include desktop_base {
			display: none;
		}

		nav {
			width: 100%;
			display: flex;
			justify-content: flex-start;
		}
	}

	&__row_top {
		background-color: $grayEF;

		nav {
			gap: 30px;
		}

		.select__button span {
			@include regular-18;
		}

		.link {
			justify-self: flex-end;
		}
	}

	&__row_bottom {
		._with_menu {
			display: flex;
			align-items: baseline;
			gap: 10px;
			line-height: 120%;

			svg {
				@include bold-20;
				width: 12px;
				height: 14px;
				transition: transform $transitionDuration ease-in-out;
				display: flex;
				align-items: center;
				padding-top: 3px;

				path {
					fill: $black25;
				}
			}

			& ~ ul {
				height: 0;
				opacity: 0;
				overflow: hidden;
				transition: all $transitionDuration ease;
			}
		}

		&_desktop {
			& > ul {
				display: flex;
				justify-content: flex-start;
				gap: 40px;
				position: relative;
			}

			._with_menu {
				& ~ ul {
					position: absolute;
					left: 0;
					top: 20px;
					z-index: 99;
					padding-top: 20px;
					min-width: 250px;

					&:hover {
						height: auto;
					}

					li {
						padding: 15px;
						background-color: $white;
						border: 1px solid $grayB9;
						border-bottom-width: 0px;

						&:not(:first-of-type) {
							border-top-width: 0px;
						}

						&:last-of-type {
							border-bottom: 1px solid $grayB9;
						}

						.link {
							@include regular-18;
							display: inline-block;
						}
					}
				}
			}

			li:hover ._with_menu {
				& ~ ul {
					height: auto;
					opacity: 1;
				}

				& {
					color: $green22;

					svg {
						transform: rotate(180deg) translateY(-4px);

						path {
							fill: $green22;
						}
					}
				}
			}

			.link {
				@include bold-20;
			}
		}

		&_mobile {
			.link {
				@include bold-18;
			}

			ul li {
				&:not(:last-child) {
					margin-bottom: 10px;
				}
			}

			._with_menu {
				& ~ ul {
					margin: 5px 0 20px;
					.link {
						font-size: 14px !important;
					}
				}

				&._active {
					& ~ ul {
						height: auto;
						opacity: 1;
					}

					& {
						color: $green22;

						svg {
							transform: rotate(180deg) translateY(-4px);

							path {
								fill: $green22;
							}
						}
					}
				}
			}
		}
	}

	&__personal {
		display: flex;
		gap: 20px;
		align-items: center;
		justify-self: flex-end;

		&_menu {
			& > *:first-child {
				margin-bottom: 15px;
			}
		}
	}

	&__icon {
		display: flex;
		align-items: center;
		gap: 10px;

		svg {
			width: 20px;
			height: 20px;
			fill: $black25;
			transition: fill $transitionDuration ease-in-out;

			@include desktop_base {
				width: 16px;
				height: 16px;
			}
		}

		&:hover {
			svg {
				fill: $green22;
			}
		}

		&_stroke {
			svg {
				fill: $white;
				stroke: $black25;
			}

			&:hover {
				svg {
					fill: $white;
					stroke: $green22;
				}
			}
		}

		// img {
		// 	max-width: 20px;
		// 	max-height:20px;
		// }
	}

	&__mobile {
		padding: 22px 20px;
		display: flex;
		justify-content: end;
		align-items: center;
		gap: 25px;

		@include min_desktop_base {
			display: none;
		}

		.header__personal {
			flex: 1 0 auto;
			justify-content: flex-end;
		}

		.logo {
			flex: 0 1 auto;
		}
	}

	&__menu {
		@include min_desktop_base {
			display: none;
		}

		@include desktop_base {
			position: absolute;
			left: 0;
			top: 0;
			z-index: 1000;
			width: 100vw;
			height: 100vh;
			background-color: $white;
			padding: 20px;
			display: flex;
			flex-direction: column;
			gap: 30px;
			transition: all $transitionDuration;
			transform: translateY(-100vh);

			&._active {
				transform: translateY(0);
				overflow-y: auto;
			}

			.header__row {
				display: flex;
				padding: 0;

				nav {
					flex-direction: column;
					gap: 15px;

					.link {
						@include tablet_small {
							@include regular-14;
						}
					}
				}

				&_bottom {
					nav {
						.link {
							@include tablet_small {
								@include bold-18;
							}
						}
					}
				}
			}
		}

		.header__icon {
			@include desktop_base {
				@include regular-14;
			}
		}
	}

	.link {
		&._active {
			color: $green22;
		}
	}
}
