.news-detail {
	&-banner {
		.container {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			min-height: 500px;
		}
	}

	&-description {
		h1 {
			@include FontFamilyCorbelBold;
			max-width: 1151px;
			margin: 20px 0 30px;

			@include tablet_small {
				margin: 30px 0 20px;
			}
		}

		&__text {
			max-width: 948px;

			& > * {
				@include regular-18;

				@include tablet_small {
					@include regular-14;
				}

				&:not(:last-child) {
					margin-bottom: 20px;

					@include tablet_small {
						margin-bottom: 15px;
					}
				}
			}

			ul {
				li {
					display: flex;
					align-items: baseline;
					gap: 10px;

					&::before {
						content: '•';
						margin-left: 10px;
					}
				}
			}

			b {
				@include bold-20;

				@include tablet_small {
					@include bold-18;
				}
			}
		}
	}
}