.news {
	.container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas:
		'title button-more'
		'cards cards';
		gap: 30px;

		@include tablet_small {
			grid-template-columns: auto;
			grid-template-areas:
			'title'
			'cards'
			'button-more';
		}
	}

	h2 {
		grid-area: title;
	}

	.btn_more {
		grid-area: button-more;
		max-width: fit-content;
		justify-self: flex-end;
	}

	&__list {
		grid-area: cards;
		display: grid;
		grid-template-columns: repeat(auto-fit,minmax(320px,auto));
		gap: 20px;
	}

	&__item {
		overflow: hidden;
		display: grid;
		grid-template-rows: 250px auto;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__description {
		background-color: $grayFA;
		padding: 30px;
		display: grid;
		grid-template-columns: auto;
		grid-template-areas: 
		'title'
		'date'
		'text'
		'button-article';

		@include tablet_small {
			padding: 20px;
		}

		h3 {
			margin-bottom: 5px;
			grid-area: title;
		}

		p {
			grid-area: text;
			@include regular-18;
			color: $black25;
			opacity: 0.7;

			@include tablet_small {
				@include regular-14;
			}
		}

		.btn {
			grid-area: button-article;
			align-self: end;
			margin-top: 30px;
		}
	}

	&__date {
		grid-area: date;
		@include regular-18;
		display: inline-block;
		color: $black25;
		opacity: 0.7;
		margin-bottom: 20px;

		@include tablet_small {
			@include regular-14;
		}
	}
}