.news-page {
	.container {
		display: grid;
		grid-template-areas: 
		'title .'
		'cards cards'
		'pagination news_more';
		gap: 40px;

		@include tablet_small {
			grid-template-areas:
			'title'
			'cards'
			'news_more';
			gap: 0;
		}

		& > .btn {
			grid-area: news_more;
			justify-self: end;

			@include tablet_small {
				justify-self: center;
				margin-top: 30px;
			}
		}
	}

	h1 {
		grid-area: title;
		@include FontFamilyCorbelBold;

		@include tablet_small {
			margin-bottom: 30px;
		}
	}
}