.review {
	.popup__content,
	&_block {
		align-self: start;
		background-color: $black25;
		color: $white;
		max-width: 750px;
		padding: 50px;

		@include tablet_small {
			padding: 20px;
		}

		h2 {
			margin-bottom: 30px;
		}
	}

	&_block {
		@include tablet {
			max-width: 100%;
		}
	}

	.popup__close {
		background-image: url('@icons/close-icon_white.svg');
	}

	

	&__form {
		.btn {
			@include tablet_small {
				width: 100%;
			}
		}
	}
}