.review {
	.popup__content,
	&_block {		
		background-color: $black25;
		color: $white;
		max-width: 750px;
		padding: 50px;

		@include tablet_small {
			padding: 20px;
		}

		h2 {
			margin-bottom: 30px;
		}
	}

	&_block {
		align-self: start;

		@include tablet {
			max-width: 100%;
		}
	}

	.popup__close {
		background-image: url('@icons/close-icon_white.svg');
	}

	

	&__form {
		input,
		textarea {
			color: $white;
		}
		
		.btn {
			width: 100%;
		}

		.link {
			color: $white;

			&:hover {
				color: $green22;
			}
		}
	}
}