.successfully {
	&__title {
		@include bold-50;
		margin-bottom: 20px;

		@include tablet_small {
			@include bold-26;
		}
	}

	&__buttons {
		display: flex;
		flex-direction: column;
		gap: 15px;
		padding-top: 20px;

		@include tablet_small {
			padding-top: 0;
		}

		.btn {
			width: 100%;

			@include tablet_small {
				height: 40px;
			}
		}
	}
}