.work {
	&-banner {
		&__image {
			min-height: 500px;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;

			@include mobile {
				background-size: 100%;
			}

			&_desktop {
				@include mobile {
					display: none;
				}
			}

			&_mobile {
				@include min_mobile {
					display: none;
				}

				@include mobile {					
					min-height: 500px;
				}
			}
		}
	}

	&-info {
		h2 {
			margin-bottom: 30px;

			@include tablet_small {
				margin-bottom: 20px;
			}
		}

		&__text {
			max-width: 672px;
			margin-bottom: 40px;

			& > * {
				opacity: 0.7;

				&:not(:last-child) {
					margin-bottom: 15px;
				}
			}
		}

		&__list {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
			gap: 20px;
		}

		&__item {
			background-color: $grayFA;

			img {
				width: 100%;
			}
		}

		&__description {
			padding: 20px;

			h3 {
				@include bold-20;
				margin-bottom: 10px;

				@include tablet_small {
					@include bold-18;
				}
			}

			p {
				opacity: .7;
			}
		}
	}

	&-company {
		h2 {
			margin-bottom: 30px;

			@include tablet_small {
				margin-bottom: 20px;
			}
		}

		&__wrapper {
			display: grid;
			grid-template-columns: auto minmax(405px, 810px);
			gap: 100px;

			@include tablet {
				grid-template-columns: auto;
				gap: 50px;
			}
		}

		&__item {
			img {
				width: 100%;
			}
		}

		&__text {
			margin-bottom: 50px;

			@include tablet_small {
				margin-bottom: 30px;
			}

			& > * {
				opacity: .7;

				&:not(:last-child) {
					margin-bottom: 15px;
				}
			}
		}

		&__numbers {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
			gap: 30px 90px;
			justify-content: space-between;

			@include tablet_small {
				gap: 20px;
			}
			
			p {
				opacity: 0.7;
			}
		}
	}

	&-vacancies {
		h2 {
			margin-bottom: 30px;
		}

		
	}

	&-form {
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		padding: 40px 0;

		@include tablet_small {
			padding: 80px 0;
		}
	}
}