.work-request {
	background-color: $white;
	padding: 70px 130px;

	@include desktop {
		padding: 35px 65px;
	}

	@include tablet {
		padding: 20px;
	}

	h2 {
		margin-bottom: 30px;
	}

	&__form {
		form {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 80px;

			@include tablet {
				grid-template-columns: auto;
				gap: 20px;
			}

			& > *:not(:last-child) {
				margin-bottom: 0;
			}
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 20px;

		.custom-select {
			height: auto;
		}

		.btn {
			margin-top: 10px;
		}

		&_offset {
			margin-top: 50px;

			@include tablet {
				margin-top: 20px;
			}
		}
	}
}