.first-screen {
	&__slide {
		position: relative;
		color: $white;
		padding: 168px 140px;

		img {
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			margin: auto;
			width: 100vw;
			height: 100%;
			object-fit: cover;
		}

		h1 {
			max-width: 710px;
			margin-bottom: 30px;
		}

		h4 {
			margin-bottom: 50px;
		}

		.btn {
			display: inline-block;
			margin-right: 20px;
		}

		&_inverse {
			color: $black;
		}
	}
}