.news {
	.container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas:
		'title button'
		'cards cards';
		gap: 30px;
	}

	h2 {
		grid-area: title;
	}

	.btn {
		grid-area: button;
		max-width: fit-content;
		justify-self: flex-end;
	}

	&__list {
		grid-area: cards;
		display: flex;
		gap: 20px;
		flex-wrap: wrap;
	}

	&__item {
		border-radius: 50px 50px 0px 0px;
		max-width: 533px;
		overflow: hidden;

		img {
			max-height: 250px;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__description {
		padding: 30px;

		h3 {
			margin-bottom: 5px;
		}

		span {
			@include regular-18;
			color: $grayB9;
		}

		.btn {
			margin-top: 30px;
		}
	}
}