.plantation {
	.container {
		min-height: 470px;
		border-radius: 50px;
		position: relative;

		img {
			width: 57%;
			height: auto;
		}
	}

	&__text {
		position: absolute;
		right: 0;
		top: 0;
		width: 50%;
		height: 100%;
		background-image: url(@icons/plantation-bg.svg);
		background-repeat: no-repeat;
		background-size: cover;
		color: $white;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 40px 120px 40px 180px;
		gap: 40px;

		h2 {
			@include FontFamilyZurichBold;
			@include bold-70;
		}
	}
}