.btn {
	@include regular-14;
	height: 45px;
	padding: 10px 25px;
	background-color: transparent;
	color: $black25;
	border: 1px solid $black25;
	position: relative;
	cursor: pointer;
	transition: all $transitionDuration;
	display: flex;
	align-items: center;
	justify-content: center;
	background: transparent;
	min-width: fit-content;

	&:hover {
		background-color: $black25;
		color: $white;
	}

	.children {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		@include regular-18;
	}

	&_black {
		background-color: $black25;
		color: $white;

		&:hover {
			background-color: transparent;
			color: $black25;
		}
	}

	&_more {
		height: unset;
		align-self: center;
		padding: 0;
		border: none;
		border-bottom: 1px dashed $grayB9;

		&:hover {

		}
	}

	&_white {
		

		&:hover {
			
		}
	}
}
