.btn {
	@include regular-14;
	height: 45px;
	padding: 10px 25px;
	border: solid 1px $white;
	border-radius: 50px;
	color: $white;
	position: relative;
	cursor: pointer;
	transition: all $transitionDuration;
	display: flex;
	align-items: center;
	justify-content: center;
	background: transparent;
	min-width: fit-content;

	.children {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&:hover {
		background-color: $green40;
		border-color: $green40;
		color: $white;
	}

	&_green {
		background-color: $green40;
		border-color: $green40;

		&:hover {
			background-color: $white;
			color: $green40;
		}
	}

	&_green-border {
		border-color: $green40;
		color: $green40;

		&:hover {
			background-color: $green40;
			color: $white;
		}
	}

	&_white {
		background-color: $white;
		border-color: $white;
		color: $green40;

		&:hover {
			border-color: $green40;
			background-color: $green40;
			color: $white;
		}
	}
}
