.btn {
	@include regular-14;
	height: 45px;
	padding: 10px 25px;
	background-color: transparent;
	color: $black25;
	border: 1px solid $black25;
	position: relative;
	cursor: pointer;
	transition: all $transitionDuration;
	display: flex;
	align-items: center;
	justify-content: center;
	background: transparent;
	min-width: fit-content;

	&:hover {
		background-color: $green22;
		color: $white;
		border-color: $green22;
	}

	.children {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		@include regular-18;
		line-height: 0;

		@include tablet_small {
			@include regular-14;
			line-height: 0;
		}
	}

	&_black {
		background-color: $black25;
		color: $white;

		&:hover {
			background-color: $green22;
			color: $white;
			border-color: $green22;
		}
	}

	&_more {
		@include min_tablet_small {
			height: unset;
			align-self: center;
			padding: 0;
			border: none;
			border-bottom: 1px dashed $grayB9;

			&:hover {
				background-color: transparent;
				color: $green22;
			}

			&._disabled {
				pointer-events: none;
				user-select: none;
				background-color: transparent;
				color: $grayB9;
			}

			.children {
				line-height: 120%;
			}
		}		

		@include tablet_small {
			margin: 40px auto 0;
			padding: 10px 25px;
		}
	}

	&_white {
		background-color: $white;
		border-color: $white;

		&:hover {
			border-color: $black25;
		}
	}

	&._disabled {
		pointer-events: none;
		user-select: none;
		background-color: $grayB9;
		border-color: $grayB9;
		color: $white;
	}
}
