.checkbox {
	@include regular-14;

	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
	align-items: center;
	gap: 0.85em;
	position: relative;

	input[type=checkbox] {
		position: absolute;
		left: -10000px;
	}

	.label {
		color: $white;
		@include regular-16;

		@include tablet_small {
			@include regular-14;
		}
	}

	.custom-checkbox {
		font-size: 14px;

		position: relative;

		padding: .5em;
		height: 100%;
		max-width: 16px;
		max-height: 16px;

		border: 1px solid $grayB9;

		background-color: transparent;

		cursor: pointer;

		&::before {
			box-sizing: border-box;

			position: absolute;
			top: 30%;
			left: 70%;
			transform: translate(-50%, -50%);

			width: 100%;
			height: 100%;

			background-color: transparent;

			z-index: 9;
		}
	}

	input[type=checkbox]:checked ~ .custom-checkbox {
		// border-color: $blue50;

		&::before {
			// content: url(@icons/checbox-content-blue.svg);
		}
	}



	// &_white {
	// 	color: $white;
	// 	a {
	// 		color: $white;
	// 		text-decoration: underline;
	// 	}
	// 	.custom-checkbox {
	// 		border: solid 1px $white;
	// 	}
	// 	input[type=checkbox]:checked ~ .custom-checkbox {
	// 		border-color: $white;
	// 		&::before {
	// 			content: url(@icons/checbox-content-white.svg);
	// 		}
	// 	}
	// }


}

.checkboxes-group {
	display: flex;
	gap: 1rem;
}
