.dropdown {
	position: relative;
	

	&._disabled {
		pointer-events: none;
	}

	&__button {
		display: flex;
		align-items: center;
		gap: 5px;

		span {
			min-width: fit-content;
			@include regular-18;
			color: $black25;
			@include transition;
			user-select: none;
		}

		svg {
			@include transition;
			path {
				@include transition;
			}
		}

		&:hover {
			cursor: pointer;
			// svg {
			// 	path {
			// 		fill: $green22;
			// 	}
			// }
			// span {
			// 	color: $black25;
			// }
		}
	}

	&__options {
		position: absolute;
		margin-top: 6px;
		height: 0;
		overflow: hidden;
		@include transition;
		opacity: 0;
		display: flex;
		flex-direction: column;
		gap: 2px;
		width: fit-content;
		background-color: $white;
		border: solid 1px $grayB9;
		z-index: 1;
	}

	&__option {
		padding: 4px 12px;

		a {
			@include regular-16;
			color: $black25;
		}

		&:hover {
			cursor: pointer;
			background-color: $green22;

			a {
				color: $white;
			}
		}
	}

	&__content {
		height: 0;
		@include transition;
		opacity: 0;
	}

	&.active {
		.dropdown__button {		
			svg {
				transform: rotate(180deg);
			}
		}
		.dropdown__options {
			height: auto;
			opacity: 1;
		}
		.dropdown__content {
			height: auto;
			opacity: 1;
		}
	}
}