form {
	& > *:not(:last-child) {
		margin-bottom: 20px;
	}

	& > .btn {
		margin-top: 30px;
	}

	.link {
		color: $white;
		border-bottom: 1px solid $white;

		&:hover {
			border-color: $green22;
		}
	}
}