input {
	transition: all $transitionDuration;
	padding: 1.67em 1.8em;
	border: 1px solid $gray20;
	outline: none;
	@include regular-14;
	color: $white;
	background-color: transparent;

	&:focus, &[type^=hidden]:focus + input {

	}
	&:disabled {

	}
	&::placeholder {
		color: $white;
	}
}

.input__container {
	@include regular-14;
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: .75rem;

	.input__label {
		color: $black;
		@include regular-16;

		& ~ .toggle-show-password-btn {
			top: calc(1.0625rem + 9.4em);

			@include tablet {
				top: calc(1.0625rem + 10.9em);
			}
		}
	}	

	&_password {
		input[type="password"] {
			padding-right: calc(.75rem + 26px);
		}

		.toggle-show-password-btn {
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 20px;
			height: 20px;
			top: 1.5rem;
			right: 1.5rem;
			cursor: pointer;
		}

		input[type="password"] + .toggle-show-password-btn {
			&::before {
				width: 20px;
				height: 20px;
				content: url("@icons/closeLock.svg");
			}
		}

		input[type="text"] + .toggle-show-password-btn {
			&::before {
				width: 20px;
				height: 20px;
				content: url("@icons/openLock.svg");
			}
		}
	}

	&_valid {
		input:not(:focus) {

		}
	}

	&_invalid {
		input:not(:focus) {

		}

		.error-message {
			display: block;
		}
	}

	.placeholder {
		position: absolute;
		color: $white;
		top: 1.0625rem;
		left: .75rem;

		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
}