input {
	transition: all $transitionDuration;
	padding: 10px 20px;
	border: 1px solid $grayB9;
	outline: none;
	@include regular-16;
	color: $white;
	background-color: transparent;

	@include tablet_small {
		@include regular-14;
	}

	&:focus, &[type^=hidden]:focus + input {

	}
	&:disabled {

	}
	&::placeholder {
		color: $grayB9;
	}
}

.input__container {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;

	.input__label {
		color: $white;
		@include regular-20;

		@include tablet_small {
			@include regular-14;
		}
	}	

	// &_password {
	// 	input[type="password"] {
	// 		padding-right: calc(.75rem + 26px);
	// 	}

	// 	.toggle-show-password-btn {
	// 		position: absolute;
	// 		display: flex;
	// 		align-items: center;
	// 		justify-content: center;
	// 		width: 20px;
	// 		height: 20px;
	// 		top: 1.5rem;
	// 		right: 1.5rem;
	// 		cursor: pointer;
	// 	}

	// 	input[type="password"] + .toggle-show-password-btn {
	// 		&::before {
	// 			width: 20px;
	// 			height: 20px;
	// 			content: url("@icons/closeLock.svg");
	// 		}
	// 	}

	// 	input[type="text"] + .toggle-show-password-btn {
	// 		&::before {
	// 			width: 20px;
	// 			height: 20px;
	// 			content: url("@icons/openLock.svg");
	// 		}
	// 	}
	// }

	&_valid {
		input:not(:focus) {

		}
	}

	&_invalid {
		input:not(:focus) {

		}

		.error-message {
			display: block;
		}
	}

	.placeholder {
		position: absolute;
		color: $white;
		top: 1.0625rem;
		left: .75rem;

		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
}

.input-wrapper {
	display: flex;
	gap: 10px;

	input[type="number"]::-webkit-inner-spin-button,
	input[type="number"]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		appearance: none;
		margin: 0;
	}

	input[type="number"] {
		-moz-appearance: textfield;
		color: $gray25;
		text-align: center;
		@include regular-16;
		padding: 0;
		width: 30px;
	}

	button {
		@include regular-26;
		max-width: 10px;
		cursor: pointer;
		color: $gray25;
		background: transparent;
		border: none;
	}
}

.input-wrapper * {
	border: none;
	flex: 1;
}