.link {
	@include regular-18;
	@include transition;
	color: $black25;
	min-width: fit-content;
	height: fit-content;

	&:hover {
		color: $green22;
	}

	&_white {
		color: $white;

		span {
			@include bold-20;
		}

		&:hover {
			color: $green22;
			text-decoration: underline;
		}
	}

	&_return {
		display: flex;
		gap: 10px;
		align-items: center;

		&::before {
			content: url('@icons/chevron_return.svg');
			width: 16px;
			height: 16px;
		}

		&:hover {
			&::before {
				content: url('@icons/chevron_green.svg');
			}
		}
	}

	&_underline {
		border-bottom: 1px dashed $grayB9;
	}
}