.link {
	@include regular-18;
	@include transition;
	color: $black25;
	min-width: fit-content;
	height: fit-content;

	&:hover {
		color: $green22;
	}

	&_white {
		color: $white;

		span {
			@include bold-20;
		}

		&:hover {
			color: $white;
			text-decoration: underline;
		}
	}
}