.modal {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000;
	display: none;
	background-size: cover;
	background: rgba(255, 255, 255, 0.04);
	backdrop-filter: blur(20px);
	overflow-x: hidden;
	overflow-y: auto;
	padding: 20px 15px;
	align-items: center;
	@include mobile {
		padding: 0;
		padding-top: 80px;
	}
	.modal-close {
		position: absolute;
		top: 42px;
		right: 42px;
		height: 43px;
		width: 43px;
		z-index: 1000;
		border: none;
		@include tablet {
			top: 22px;
			right: 20px;
		}
		&:hover {
			background: unset;
		}
		&:before {
			content: url("@icons/close-modal.svg");
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-48%, -43%);
		}
	}
	.modal-container {
		width: 100%;
		z-index: 1000;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		img {
			width: 520px;
			@include tablet {
				max-width: 340px;
			}
		}
	}

	&_active {
		display: flex;
	}

}
