.custom-select {
  position: relative;
	width: 100%;
	height: 100%;

	select {
    display: none;
  }

	&.open {
    .arrow {
      transform: rotate(180deg);
    }
  }

	.arrow {
		display: flex;
		position: absolute;
		height: 8px;
		width: 12px;
		right: 2rem;
		transition: all 0.2s ease-in-out;
		z-index: 1;
		top: 0;
		bottom: 0;
		margin: auto 0;
		background-image: url(@icons/chevron-down_black.svg);

		@include tablet {
			right: 0;
		}
	}

	.select-items div,
	.select-selected {
		padding: 20px 20px;
		@include medium-16;
		color: $gray70;
		cursor: pointer;
		user-select: none;
		position: relative;
	}

	.select-items {
		position: absolute;
		background-color: $white;
		top: 100%;
		left: 0;
		right: 0;
		z-index: 99;
		overflow: hidden;
		opacity: 1;
		height: auto;
		visibility: visible;
		border: solid 1px $gray20;

		&.select-hide {
			opacity: 0;
			visibility: hidden;
			height: 0;
		}

		div {
			&:hover {
				background-color: $gray60;
				color: $white;
			}

			&:nth-child(1) {
				display: none;
			}
		}
	}

	&_secondary {
		.select-selected {
			color: $white;
		}
		.arrow {
			background-image: url(@icons/chevron-down.svg);
		}
		.select-items {
			background-color: $gray80;
			color: $white;
			border: solid 1px $gray70;

			div {
				color: $white;
			}
		}

	}
}
