.swiper-button-prev {
	height: 21px !important;
	width: 8px !important;
	&:after {
		content: url(@icons/swiper-arrow.svg) !important;
		transform: rotate(180deg) !important;
	}
}
.swiper-button-next {
	height: 21px !important;
	width: 8px !important;
	&:after {
		content: url(@icons/swiper-arrow.svg) !important;
	}
}
.swiper-slide {
	height: unset !important;
}

.swiper-pagination {
	&-bullet {
		width: 10px;
		height: 10px;
	}
}