.swiper-button-prev {
	height: 21px !important;
	width: 8px !important;
	&:after {
		content: url(@icons/swiper-arrow.svg) !important;
		transform: rotate(180deg) !important;
	}
}
.swiper-button-next {
	height: 21px !important;
	width: 8px !important;
	&:after {
		content: url(@icons/swiper-arrow.svg) !important;
	}
}
.swiper-slide {
	height: unset !important;
}

.swiper-pagination {
	margin-bottom: 20px;

	@include tablet_small {
		margin-bottom: 10px;
	}

	&-bullet {
		width: 10px;
		height: 10px;
		background-color: $black25;
		opacity: 0.3;
		margin: 0 6px !important;

		&-active {
			opacity: 1;
		}
	}
}

.swiper-navigation {
	display: flex;
	align-items: center;
	gap: 20px;

	& > * {
		width: 50px;
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $white;
		border: 1px solid $black25;
		transition: background-color $transitionDuration ease-in-out;

		&:hover {
			cursor: pointer;
			background-color: $black25;

			&:after {
				content: url('@icons/chevron_white.svg');
			}
		}

		&::after {
			content: url('@icons/chevron.svg');
			width: 24px;
			height: 24px;
		}

		&.swiper-button-disabled {
			border-color: $grayB9;
			pointer-events: none;

			&:hover {
				cursor: auto;
			}

			&::after {
				content: url('@icons/chevron_disabled.svg');
			}
		}
	}

	&_transparent > * {
		background-color: transparent;
	}

	&-prev {
		&::after {
			transform: rotate(180deg);
		}
	}
}