.swiper-button-prev {
	height: 21px !important;
	width: 8px !important;
	&:after {
		content: url(@icons/swiper-arrow.svg) !important;
		transform: rotate(180deg) !important;
	}
}
.swiper-button-next {
	height: 21px !important;
	width: 8px !important;
	&:after {
		content: url(@icons/swiper-arrow.svg) !important;
	}
}
.swiper-slide {
	height: unset !important;
}

.swiper-pagination {
	margin-bottom: 20px;

	@include tablet_small {
		margin-bottom: 10px;
	}

	&-bullet {
		width: 10px;
		height: 10px;
		background-color: $black25;
		opacity: 0.3;
		margin: 0 6px !important;

		&-active {
			opacity: 1;
		}
	}
}