textarea {
	transition: all $transitionDuration;
	width: 100%;
	min-height: 100px;
	padding: 10px 20px;
	border: 1px solid $grayB9;
	outline: none;
	resize: none;
	@include regular-16;
	color: $white;
	background-color: transparent;

	@include tablet_small {
		@include regular-14;
	}

	&:focus {

	}
	&:disabled {

	}
	&::placeholder {
		color: $grayB9;
	}

	&::-webkit-scrollbar {
		width: 8px;
	}
	&::-webkit-scrollbar-track {
		background: white;
	}
	&::-webkit-scrollbar-thumb {
		background-color: $grayFA;
	}
	&:focus::-webkit-scrollbar-thumb {
		background-color: $black25;
	}
	&:disabled::-webkit-scrollbar-thumb {
		background-color: $grayB9;
	}
}

.textarea__container {

	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;

	.textarea__label {
		@include regular-20;
		color: $white;
		
		@include tablet_small {
			@include regular-14;
		}
	}

	&_valid {
		textarea:not(:focus) {
		}
	}

	&_invalid {
		textarea:not(:focus) {
		}
	}
}
