<div class="form-group input__container input__container_password">
	@@if (context.label) {
		@@if (context.id) {
			<label class="input__label" for="@@id">@@label@@if (context.required) {*}</label>
		}
		@@if (!context.id) {
			<span class="input__label">@@label@@if (context.required) {*}</span>
		}
	}
	<input class="form-control" @@if (context.placeholder) {placeholder="@@placeholder"} @@if (!context.placeholder) {placeholder="Введите пароль"} @@if (context.required) {required} @@if (context.id) {id="@@id"} @@if (context.name) {name="@@name"} data-type="password" type="password" minlength="6" @@if (context.errorMessage) {data-pristine-required-message="@@errorMessage" data-pristine-equals-message="@@errorMessage"} @@if (context.passwordRepeat) {data-pristine-equals="#@@passwordRepeat"}>
	<span class="toggle-show-password-btn"></span>
</div>
