<section class="coffee-beans-advantages">
	<div class="container">
		<h2>6 причин заказать кофе у нас</h2>
		<div class="coffee-beans-advantages__list">
			<div class="coffee-beans-advantages__item">
				<h3>Высокое качество продукции</h3>
				<p>
					Мы предлагаем свежеобжаренный кофе высокого качества, который обладает идеальным балансом аромата и вкуса. Мы тщательно выбираем зерна кофе, чтобы гарантировать, что каждая чашка будет богата и насыщена.
				</p>
			</div>
			<div class="coffee-beans-advantages__item">
				<h3>Широкий ассортимент</h3>
				<p>
					У нас есть широкий ассортимент различных сортов кофе, включая арабику, робусту и смеси различной степени обжарки. Вы можете выбрать оптимальный сорт под свои вкусовые предпочтения.
				</p>
			</div>
			<div class="coffee-beans-advantages__item">
				<h3>Экологичность</h3>
				<p>
					Мы стремимся к устойчивому производству и ценим природные ресурсы. Наш кофе производится с использованием экологически чистых методов и упакован в биоразлагаемую упаковку.
				</p>
			</div>
			<div class="coffee-beans-advantages__item">
				<h3>Удобство при покупке</h3>
				<p>
					Мы предлагаем удобные способы приобретения кофе - вы можете заказать его онлайн или приехать в наш магазин. Мы также предлагаем доставку кофе по всей стране.
				</p>
			</div>
			<div class="coffee-beans-advantages__item">
				<h3>Конкурентные цены</h3>
				<p>
					Мы предлагаем доступные цены нашим клиентам без компромисса в качестве продукции. Мы стремимся сделать наш кофе доступным для всех, чтобы каждый мог наслаждаться его вкусом.
				</p>
			</div>
			<div class="coffee-beans-advantages__item">
				<h3>Клиентоориентированный подход</h3>
				<p>
					Мы обеспечиваем высокий уровень обслуживания клиентов и готовы ответить на все ваши вопросы. Мы ценим каждого нашего клиента и стремимся сделать покупку кофе у нас приятным и удовлетворительным опытом.
				</p>
			</div>
		</div>
	</div>
</section>