<div class="coffee__specs">
	<div class="coffee__specs__item">
		<span>Насыщенность</span>
		<div class="coffee__specs_raiting coffee__specs_raiting_3">
			<div class="coffee__specs_raiting__item"></div>
			<div class="coffee__specs_raiting__item"></div>
			<div class="coffee__specs_raiting__item"></div>
			<div class="coffee__specs_raiting__item"></div>
			<div class="coffee__specs_raiting__item"></div>
		</div>
	</div>
	<div class="coffee__specs__item">
		<span>Кислотность</span>
		<div class="coffee__specs_raiting coffee__specs_raiting_3">
			<div class="coffee__specs_raiting__item"></div>
			<div class="coffee__specs_raiting__item"></div>
			<div class="coffee__specs_raiting__item"></div>
			<div class="coffee__specs_raiting__item"></div>
			<div class="coffee__specs_raiting__item"></div>
		</div>
	</div>
	<div class="coffee__specs__item">
		<span>Горчинка</span>
		<div class="coffee__specs_raiting coffee__specs_raiting_2">
			<div class="coffee__specs_raiting__item"></div>
			<div class="coffee__specs_raiting__item"></div>
			<div class="coffee__specs_raiting__item"></div>
			<div class="coffee__specs_raiting__item"></div>
			<div class="coffee__specs_raiting__item"></div>
		</div>
	</div>
	<div class="coffee__specs__item">
		<span>Сладость</span>
		<div class="coffee__specs_raiting coffee__specs_raiting_1">
			<div class="coffee__specs_raiting__item"></div>
			<div class="coffee__specs_raiting__item"></div>
			<div class="coffee__specs_raiting__item"></div>
			<div class="coffee__specs_raiting__item"></div>
			<div class="coffee__specs_raiting__item"></div>
		</div>
	</div>
</div>