<div class="contact-block@@if (context.class) { @@class}">
	<div class="contact-block__info active">
		@@if (context.closeButton) {
			<span class="contact-block__close"></span>
		}
		<h2>Контакты</h2>
		<div class="contact-block__list">
			<div class="contact-block__item">
				<img src="@icons/phone.svg" alt="#">
				<span>Телефон:</span>
				<a href="tel:" class="link">+7 (3472) 72-72-07</a>
			</div>
			<div class="contact-block__item">
				<img src="@icons/map-pin.svg" alt="#">
				<span>Адрес:</span>
				<span>Мустая Карима, д.2</span>
			</div>
			<div class="contact-block__item contact-block__item_offset">
				<img src="@icons/clock.svg" alt="#">
				<span>График работы:</span>
				<span>Пн-Пт 08:00 - 23:00<br>Сб-Вс 10:00 - 23:00</span>
			</div>
			<div class="contact-block__item">
				<span>Время завтраков:</span>
				<span>08:00 - 11:00</span>
			</div>
		</div>
	</div>
	<div id="yandex-map"></div>
</div>