<footer class="footer">
	<div class="footer__top">
		<div class="footer__column">
			<div class="footer__links">
				<h3>ул. Ленина, д.60</h3>
				<a class="link link_white" href="tel:#">+7 (999) 999-99-99</a>
				<a class="link link_white" href="mailto:#">Email: example@gmail.com</a>
			</div>
			<div class="footer__links">
				<h3>ул. Коммунистическая, д.60</h3>
				<a class="link link_white" href="tel:#">+7 (999) 999-99-99</a>
				<a class="link link_white" href="mailto:#">Email: example@gmail.com</a>
			</div>
			<a href="/">
				<img src="@icons/logo_footer.svg">
			</a>
		</div>
		<div class="footer__column">
			<div class="footer__links">
				<h3>Кофе в зернах</h3>
				<a class="link link_white" href="#">Розничная продажа</a>
				<a class="link link_white" href="#">Оптовая продажа</a>
			</div>
			<div class="footer__links">
				<h3>Доставка</h3>
				<a class="link link_white" href="#">Торты на заказ</a>
				<a class="link link_white" href="#">Доставка еды</a>
			</div>
		</div>
		<div class="footer__column">
			<div class="footer__links">
				<h3>Компания</h3>
				<a class="link link_white" href="#">О компании</a>
				<a class="link link_white" href="#">Условия оплаты и доставки</a>
				<a class="link link_white" href="#">Размещение рекламы в Kumpan</a>
				<a class="link link_white" href="#">Статьи</a>
				<a class="link link_white" href="#">Производство</a>
				<a class="link link_white" href="#">Наша плантация</a>
				<a class="link link_white" href="#">Работа в Kumpan</a>
				<a class="link link_white" href="#">Академия Kumpan</a>
				<a class="link link_white" href="#">Новости и акции</a>	
				<a class="link link_white" href="#">Наши заведения</a>
				<a class="link link_white" href="#">Безопасность и комфорт</a>
				<a class="link link_white" href="#">Кейтеринг и выездные кофе-бары</a>
			</div>
		</div>
		<div class="footer__column">
			<div class="footer__links">
				<h3>Контакты</h3>
				<a class="link link_white" href="tel:#">Телефон: <span>272-72-07</span></a>
				<a class="link link_white" href="mailto:#">Email: <span>example@gmail.com</span></a>
			</div>
			<div class="footer__social">
				<a>
					<img src="@icons/telegram.svg">
				</a>
				<a>
					<img src="@icons/whatsapp.svg">
				</a>
				<a>
					<img src="@icons/vk.svg">
				</a>
			</div>
			<div class="footer__apps">
				<a href="#">
					<img src="@icons/google-play.svg">
				</a>
				<a href="#">
					<img src="@icons/appstore.svg">
				</a>
			</div>
		</div>
	</div>
	<div class="footer__bottom">
		<span>© 2023 «Kumpan», все права защищены</span>
		<a class="link link_white" href="https://wptt.ru">Разработка — Вебпространство</a>
	</div>
</footer>