@@for(let i = 0; i < foodItems.length; i++) {
	<div class="food__item">
		<img class="food__image" src="`+foodItems[i].image+`">
		<a href="#food-detail" class="link popup-link">
			<h3>`+foodItems[i].title+`</h3>
		</a>
		<p>`+foodItems[i].description+`</p>
		<div class="food__tech">
			<span class="food__price">550 ₽</span>
			<span class="food__weight">250 гр</span>
			@@include('components/ui/_button-link.html', {children: 'В корзину', class: 'btn_black', href: '#'})
		</div>
		@@include('components/ui/_favorite.html', {class: 'food__favorite'})
	</div>
}
