<header class="header">
	<div class="header__row header__row_top">
		@@include('components/business/_dropdown.html')
		<nav>
			<a class="link" href="#">О компании</a>
			<a class="link" href="#">Новости и акции</a>
			<a class="link" href="#">Работа в Kumpan</a>
		</nav>
		<a class="link" href="#">Наши заведения</a>
	</div>
	<div class="header__row header__row_bottom">
		@@include('components/ui/_logo.html')
		<nav>
			<a class="link" href="#">Кофе в зернах</a>
			<a class="link" href="#">Доставка еды</a>
			<a class="link" href="#">Торты на заказ</a>
		</nav>
		<div class="header__personal">
			<a class="header__icon link" href="#">
				<img src="@icons/personal.svg">
				Войти
			</a>
			<a class="header__icon link" href="#">
				<img src="@icons/heart.svg">
				Избранное
			</a>
			<a class="header__icon link" href="#">
				<img src="@icons/basket.svg">
				Корзина
			</a>
		</div>
	</div>

<!-- mobile -->
	<div class="header__mobile">
		@@include('components/ui/_logo.html', {class: 'logo_small'})
		<div class="header__personal">
			<a class="header__icon link" href="#">
				<img src="@icons/basket.svg">
				Корзина
			</a>
		</div>
		<div class="header__burger" id="burger-btn">
			<svg width="30" height="10" viewBox="0 0 30 10" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M28.5 5H1.5" stroke="#252525" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M28.5 1H1.5" stroke="#252525" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M28.5 9H1.5" stroke="#252525" stroke-linecap="round" stroke-linejoin="round"/>
			</svg>
		</div>
	</div>

	<div class="header__menu" id="menu">
		<div class="header__personal_menu">
			<div class="header__personal">
				<a class="header__icon link" href="#">
					<img src="@icons/personal.svg">
					Войти
				</a>
			</div>
			<div class="header__personal">
				<a class="header__icon link" href="#">
					<img src="@icons/heart.svg">
					Избранное
				</a>
				<a class="header__icon link" href="#">
					<img src="@icons/basket.svg">
					Корзина
				</a>
			</div>
		</div>
		@@include('components/business/_dropdown.html')
		<div class="header__row header__row_bottom">
			<nav>
				<a class="link" href="#">Кофе в зернах</a>
				<a class="link" href="#">Доставка еды</a>
				<a class="link" href="#">Торты на заказ</a>
			</nav>
		</div>
		<div class="header__row">
			<nav>
				<a class="link" href="#">О компании</a>
				<a class="link" href="#">Новости и акции</a>
				<a class="link" href="#">Работа в Kumpan</a>
				<a class="link" href="#">Наши заведения</a>
			</nav>			
		</div>
		<a class="link close-btn"></a>
	</div>
</header>