<div id="pickup" class="popup pickup">
	<div class="popup__body">
		<div class="popup__content popup__content_wide popup__content_no-padding">
			<span class="popup__close close-popup"></span>
			<div class="popup__wrapper">
				<h3 class="pickup__city">Петропавловск Камчатский</h3>
				<div class="pickup__tabs">
					<div id="pickup-tab-1" class="pickup__tab _active">
						<h3>Списком</h3>
					</div>
					<div id="pickup-tab-2" class="pickup__tab">
						<h3>На карте</h3>
					</div>
				</div>
				<div class="pickup__contents">
					<div id="pickup-tab-content-1" class="pickup__tab-content _active pickup__point-list">
						<a class="pickup__point">
							<h3>улица Ленина, д. 60</h3>
							<span>Открыто</span>
							<div>
								<span>На доставку или самовывоз</span>
								<span>09:00 - 22:00</span>
							</div>
						</a>
						<a class="pickup__point">
							<h3>улица Коммунистическая, д. 49</h3>
							<span>Открыто</span>
							<div>
								<span>На доставку или самовывоз</span>
								<span>09:00 - 22:00</span>
							</div>
						</a>
						<a class="pickup__point">
							<h3>улица Проспект Октября, д. 88</h3>
							<span>Открыто</span>
							<div>
								<span>На доставку или самовывоз</span>
								<span>09:00 - 22:00</span>
							</div>
						</a>
						<a class="pickup__point">
							<h3>улица Верхнеторговая площадь, д. 1</h3>
							<span>Открыто</span>
							<div>
								<span>На доставку или самовывоз</span>
								<span>09:00 - 22:00</span>
							</div>
						</a>
						<a class="pickup__point">
							<h3>улица Проспект Октября, д. 88</h3>
							<span>Открыто</span>
							<div>
								<span>На доставку или самовывоз</span>
								<span>09:00 - 22:00</span>
							</div>
						</a>
						<a class="pickup__point">
							<h3>улица Верхнеторговая площадь, д. 1</h3>
							<span>Открыто</span>
							<div>
								<span>На доставку или самовывоз</span>
								<span>09:00 - 22:00</span>
							</div>
						</a>

					</div>
					<div id="pickup-tab-content-2" class="pickup__tab-content">
						<div id="yandex-map"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
