<section class="plantation">
	<div class="container">
		<div class="plantation__image plantation__image_desktop" style="background-image: url('@images/plantation.webp');"></div>
			<div class="plantation__image plantation__image_mobile" style="background-image: url('@images/plantation_mobile.webp');"></div>
		<div class="plantation__text">
			<h2>Кофе с нашей плантации</h2>
			<p>Мы заботимся о каждом растении и уделяем много внимания процессу обработки кофейных зерен, чтобы обеспечить нашим клиентам самый вкусный и качественный кофе.</p>
		</div>
	</div>
</section>