<div id="wholesale-price" class="popup review">
	<div class="popup__body">
		<div class="popup__content">
			<span class="popup__close close-popup"></span>
			<div class="popup__wrapper">
				<div class="call-request">
					<h2>Получите оптовые цены</h2>
					<div class="review__form">
						<form novalidate>
							@@include('components/ui/_input-text.html', {label: 'Имя', placeholder: 'Введите имя', errorMessage: 'Введите ваше имя', name: 'name', required: true})
							@@include('components/ui/_input-text.html', {label: 'Город', placeholder: 'Введите город', errorMessage: 'Введите город', name: 'city', required: true})
							@@include('components/ui/_input-phone.html', {label: 'Номер телефона', placeholder: '+7 (000) 000-00-00', name: 'phone', required: true})
							@@include('components/ui/_input-email.html', {label: 'Электронная почта', placeholder: 'Введите E-mail', name: 'email', required: true})
							@@include('components/ui/_checkbox.html', {class: 'checkbox_white', label: 'Нажимая на кнопку “Отправить”, я даю согласие на <a href="#" target="_blank" class="link">обработку персональных данных</a> и соглашаюсь с <a href="#" target="_blank" class="link">политикой конфиденциальности</a>', id: 'agreement', name: 'agreement', required: true})
							@@include('components/ui/_button.html', {children: 'Отправить', class: 'btn_black', type: 'submit'})
						</form>
					</div>
				</div>
			</div>					
		</div>
	</div>
</div>