* {
	@include FontFamilyCorbelRegular;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	line-height: 130%;
}

html {
	scroll-behavior: smooth;
	height: 100%;
}

body {
	overflow-x: hidden;
	position: relative;
	display: flex;
	flex-direction: column;
  height: 100%;
}

main {
	flex: 1 0 auto;
}

h1 {
	@include FontFamilyZurichBold;
	@include bold-70;
}

h2 {
	@include FontFamilyZurichBold;
	@include bold-70;
}

h3 {
	@include bold-30;
}

h4 {
	@include FontFamilyZurichBold;
	@include bold-24;
}

p {
	@include regular-18;
}

a {
	cursor: pointer;
	text-decoration: none;
	width: fit-content;
}

ul {
	list-style: none;
}

button {
	cursor: pointer;

	:disabled {
		cursor: default;
	}
}

// scrollbar
* {
  scrollbar-width: thin;
  scrollbar-color: $green22 transparent;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: $green22;
  border-radius: 20px;
  border: none;
}

.swiper-scrollbar-drag {
	background-color: $green22;
}

section {
	margin-bottom: 130px;
}

.container {
	margin: 140px;
	margin: 140px;
	overflow-x: hidden;

	@include desktop {
		margin: 50px;
		margin: 50px;
	}
}