$white: #ffffff;
$black: #000000;
$black25: #252525;
$green22: #228C0E;
$green40: #40AB39;
$grayEF: #EFEFEF;
$grayFA: #FAFAFA;
$grayB9: #B9B9B9;
$gray25: #252525;
$redDB: #DB1630;
$red3D: #3D1308;

$transitionDuration: .4s;


